<h2>Your profile</h2>
<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>
<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<td><%= link_to 'Edit profile', edit_profile_path(current_user.profile), class: 'btn btn-mini btn-info' %></td>