<div class='row'>
  <div class='col-lg-6'>
    <%= semantic_form_for(@project, remote: true, html: {role: "form"}) do |f| %>
       <%= f.inputs do %>
         <%= f.input :name %>
         <%= f.input :description %>
         <%= f.input :user, label: "Moderator", :as => :select, :collection => User.moderator.map{|u| [u.fullname, u.id]} %>
       <% end %>
       <%= f.actions do %>
          <%= f.action :submit, :as => :button, button_html: { class: "btn btn-primary" } %>
          <%= f.action :cancel, :as => :link, button_html: { class: "btn btn-default" } %>
       <% end %>
     <% end %>
  </div>
</div>
