    <% if can? :read, project %>
        <tr id="project_<%= project.id %>">
          <td><%= link_to project.name, project_tasks_path(project) %>
            <span title="Done tasks" class="badge alert-info"><%= project.tasks.done.count %></span>
            <span title="Started tasks" class="badge alert-success"><%= project.tasks.started.count %></span>
            <span title="New tasks" class="badge alert-primary"><%= project.tasks.not_started.count %></span>
          </td>
          <td><%= project.description %></td>
          <td><%= project.created_at.strftime("%e|%m|%y") %></td>
          <% if can? [:update, :destroy], Project %>
              <td><%= link_to 'Edit', edit_project_path(project), remote: true ,:class => 'btn btn-mini' %></td>
              <td><%= link_to 'Destroy', project_path(project),
                              remote: true,
                              method: :delete,
                              data: { confirm: "Delete project #{project.name}?"}, :class => 'btn btn-mini btn-danger'  %></td>
          <% end %>
        </tr>
    <% end %>
