<h1>Listing projects</h1>
<%= form_tag(projects_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Projects" %>
    <%= submit_tag "Search" %>
<% end %>
<!--
<div id="custom-search-input">
  <div class="input-group col-md-6">
    <input type="text" class="  search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                      <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
  </div>
</div> -->
<% if @something.present? %>
    <%= render @something %>
<% end %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Created at</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody id="projects">
  <%= render @projects %>
  </tbody>
  <%= paginate @projects %>
</table>
<br>
<%= render 'dialog' %>
<% if can? :create, Project %>
  <%= link_to 'New project', new_project_path, remote: true, class: 'btn btn-primary' %>
<% end %>
